/* Write your CSS here */
.status-view-container {
  width: 30%;
  padding: 15px;
}

.no-active-event-view {
  color: #323f4b;
  font-family: 'Roboto';
  padding: 15px;
  font-weight: 600;
}

.event-status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.status-image-conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status-image {
  width: 70%;
}
